@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&family=Nunito:wght@300;500&family=Roboto:wght@100;300;700;900&display=swap');

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    flex: 1;
}   

.userProfile {
    border-radius: 40%;
    display: flex;
    padding: 20px;
}

.userProfile img {
    width: 70px;
    height: 80px;
    object-fit: cover;
}

.UserInfoContainer {
    display: flex;
    flex-direction: column;
}

.UserInfoContainer p, .UserInfoContainer h2 {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.NotificationBell {
    margin: 40px;
    border-radius: 40%;
}

.NotificationBell:hover{
    cursor: pointer;
    color: #fd7c06;
}

