@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&family=Nunito:wght@300;500&family=Roboto:wght@100;300;700;900&display=swap');

.blogContent {
    margin: 50px;

  }
  .blogContent .boxItems {
    transition: 0.5s;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .blogContent .boxItems:hover {
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 30%);
    cursor: pointer;
    transform: translateY(-4px);
  }

  .blogContent .tag{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .blogContent .tag p {
    color: #fd7c06;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin: 5px;
    font-weight: 800;
  }

  .blogContent .details{
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .blogContent img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
  }

  .blogContent h3 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin: 5px;
    font-weight: 700;
  }

  .blogContent p {
    color: #575757;
    font-family: 'Inter', sans-serif;
    margin: 5px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
  }

  .blogContent .date h4 {
    color: #575757;
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 5px;
  }