@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&family=Nunito:wght@300;500&family=Roboto:wght@100;300;700;900&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  width: 300px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

.layoutContainer {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}

.Headline{
  width: 100%;
}

.contentType{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.blogTitleContainer, .eventTitleContainer{
  display: flex;
  align-items: center;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.blogTitleContainer .title{
  flex: 1;
  margin: 0 70px;
  font-size: 50px;
}

.eventTitleContainer .title {
  flex: 1;
  font-size: 50px;
}

.createEventButton{
  margin: 0 30px;
}

.contents{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blogContentsContainer{
  margin: 0 10px;
}

.eventContentsContainer{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ededed;
  width: 700px;
  max-width: 700px;
}

.eventSortButton{
  margin: 20px 10px;
  align-self: self-end;
}